<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/board.js}"></script>

</head>
<body>
    <div class="board-name">게시판</div>

    <table class="board-list">
        <thead>
            <tr>
                <th>게시번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
        	<tr th:each="board : ${boards}" th:onclick="'location.href=\'/board/detail/' + ${board.id} + '\''">
                <td th:text="${board.id}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.author}"></td>
                <td th:text="${board.content}"></td>
                <td th:text="${board.date}"></td>
                <td th:text="${board.views}"></td>
            </tr>

        </tbody>
    </table>

    <button class="write-button" onclick="location.href='/board/write'">글쓰기</button>
	    
</body>
</html>
